@import '../../variables';

.App {
  text-align: center;
  height: 100vh;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: $secondary-color;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App__container {
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: center;
}

a.header-name, a.header-name:hover{
  text-decoration: none;
  color:white;
}