@import "../../../variables";

div.large__bill {
  height: 80%;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 50px;
  background: $card-color;
  box-shadow: 0 7.5px 60px rgba(90, 97, 105, 0.25);
  border-radius: 10px;

  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 45px;
  color: $primary-text-color;
}

.inner__bill__dimensions {
  height: 81.09%;
  width: 87.1%;
  margin-left: auto;
  margin-right: auto;
}

div.inner__bill_container {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.59);
  box-sizing: border-box;
  border-radius: 26px;
  overflow-y: auto;
}

div.inner__bill_container::-webkit-scrollbar {
  width: 0;
}

.split_between {
  display: flex;
  justify-content: space-between;
}

.space-top {
  margin-top: 2em;
}

.embolden {
  font-weight: bold;
}

.sub_items_text {
  font-size: 20px;
  font-weight: bold;
}

.sub-text {
  color: $secondary-text-color;
}

.account__icons__container {
  display: flex;
}

.total_balance {
  margin-top: 3em;
}
