@import "../../variables";

div.bill__wrapper {
  display: flex;
  flex: 1 1;

  div.specific__bill__section {
    width: 100%;
  }

  div.bill__section {
    width: 100%;
    margin: 20px 10px;

    div.bill__list__section {
      margin-left: 2.74117026885%;

      div.bill__card.card {
        background-color: $card-color;
        border-radius: 0;
        box-shadow: none;
        height: 160px;

        hr.card__seperator {
          margin-bottom: 0;
          margin-top: 0;
          background-color: rgba(0, 0, 0, 0.63);
          width: 80.67%;
          margin-left: auto;
          margin-right: auto;
        }
      }


      div.bill__container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 15px;
        overflow-y: scroll;
        height: calc(100vh - 150px);
      }
    }
  }
}
