@import '../../variables';

div.bill__wrapper{
    height:500px;
    min-width: 1313px;
}

div.bill__section{
    display: flex;
}

div.specific__bill__section{
    width: 61.091%;

    span#more__details{
        text-decoration: underline;
        color:$primary-text-color;
        float: right;
        margin-bottom: 15px;
        margin-right: 32px;
        right:0;
    }

    h5 span#amount__owed{
        color:$secondary-price-color;
    }
}

div.bill__list__section{
    margin-left: 2.74117026885%;
    width: 38.909%;
  
    #search__bill{
        border: 1px solid #F1F1F1;
        box-sizing: border-box;
        border-radius: 50px;
        background: #F1F1F1;
        display: flex;
        align-content: center;
        margin-bottom: 25px;
    }

    span.search__icon{
        width: 10%;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        border: inherit;
        background: inherit;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    input.form-control{
        width: 90%;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        border: inherit;
        background: inherit;
        box-shadow: none;
    }


    ul.nav.nav-tabs{
        margin-left: calc(100% - 120px);
        border: none;
    }

    a.nav-link{
        font-size: 14px;
        justify-content : end;
        border: 1px solid $secondary-color;
        background-color: $secondary-color;
        color: $card-color;
        box-sizing: border-box;
        box-shadow: 4px 0 4px $card-shadow;
        border-radius: 10px;
        font-family: Sarabun, sans-serif;
        font-style: normal;
        font-weight: 300;
        width: 120px;
        height:40px;
        padding:10px 0;
    }

    div.bill__card.card{
        background-color: $card-color;
        border-radius: 0;
        box-shadow: none;
        height:160px;
    
        hr.card__seperator{
            margin-bottom: 0;
            margin-top: 0;
            background-color:rgba(0, 0, 0, 0.63);
            width: 80.67%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}



div.bill__container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: white;
    box-shadow: -1px -1px 2px rgba(90, 97, 105, 0.25);
}

div.bill__summary{
    text-align: left;
    margin-left: 130px;
}
