div.bill__wrapper{
    height:500px;
    min-width: 1313px;
}

div.bill__section{
    display: flex;
}

div.specific__bill__section{
    width: 61.091%;

    span#more__details{
        text-decoration: underline;
        color:#000000;
        float: right;
        margin-bottom: 15px;  
        margin-right: 32px;
        right:0;  
    }

    h5 span#amount__owed{
        color:#33CC82;
    }
}

div.bill__list__section{
    margin-left: 2.74117026885%;
    width: 38.909%;
  

    #search__bill{
        border: 1px solid #F1F1F1;
        box-sizing: border-box;
        border-radius: 50px;
        background: #F1F1F1;
        display: flex;
        align-content: center;
        margin-bottom: 25px;
    } 

    span.search__icon{
        width: 10%;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        border: inherit;
        background: inherit;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    input.form-control{
        width: 90%;
        
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        border: inherit;
        background: inherit;

        :active, :hover, :focus{
            outline:0px !important;
            -webkit-appearance:none;
            box-shadow: none !important;
        }
    }


    ul.nav.nav-tabs{
        justify-content: space-around;
        font-size: 14px;
    }

    a.nav-link{
        border: 1px solid #47E5B6;
        background-color: #47E5B6;
        color:#FFFFFF;
        box-sizing: border-box;
        box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.39);
        border-radius: 10px;
        font-family: Sarabun, sans-serif;
        font-style: normal;
        font-weight: 300;
        width: 120px;
        height:40px;
        padding:10px 0 10px 0;
    }
}

div.bill__container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 15px;
    scrollbar-color: none;   
}

div.bill__summary{
    text-align: left;
    margin-left: 130px;
}
