div.page__register {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

div.title-logo{
  font-size: 25px;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

div.register__container{
  margin-top: 25px;
  background-color: grey;
  width: 600px;
}