div.page__register {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 60%;
  // background-color: red;
}

div.title-logo{
  // background-color: red;
  font-size: 20px;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

div.register__container{
  margin-top: 25px;
  background-color: grey;
  width: 450px;
}