@import "../../variables";

.split-info {
  display: flex;
  justify-content: space-between;
}

.text__information {
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.71);
}

.small-input {
  //must override shards-react
  width: 25% !important;
  padding: 0 !important;
  background: #ffffff !important;
}

.pay-button {
  margin-top: 1em;
}

.modal-content {
  width: 150% !important;
  background: #F1F1F1 !important;
  margin-top: 24em !important;
}

.modal-title {
  font-weight: bold;
}