.title {
  width: 500px;
}

div.title__row {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

h3.title__title {
  font-weight: bold;
  font-size: 45px;
  line-height: 71px;
  text-align: center;
}

div.title__text {
  font-size: 16px;
}

button.title__button.btn.btn-primary {
  background: #3BD0A3;
  border: 1px solid #3BD0A3;
  box-shadow: 0 2px 0 #17C671;
  font-size: 15px;
  font-weight: bold;
}

button.title__button.btn.btn-primary:hover {
  background: #38B58F;
  border: 1px solid #38B58F;
}
