.title {
  width: 500px;
}

div.title__row {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

h3.title__title {
  font-weight: bold;
  font-size: 45px;
  line-height: 71px;
}

div.title__text {
  font-size: 16px;
  font-weight: bolder;
}

button.title__button.btn.btn-primary {
  background: #3bd0a3;
  border: 1px solid #3bd0a3;
  box-shadow: 0 2px 0 #17c671;
  font-size: 15px;
  font-weight: bold;
}

button.title__button.btn.btn-primary:hover {
  background: #38b58f;
  border: 1px solid #38b58f;
}
