@import "../../variables";

div.quick__sorting__container {
    height: 120px;

    ul.sorting__content {
      width: 103px;
      border-radius: 6px;
      height: inherit;
      background-color: $light-gray-background;
      list-style: none;
      padding-top: 10px;
      padding-left: 0;

      li.sorting__titles {
        font-family: $primary-font;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: $secondary-text-color;
      }

      li.sorting__titles:hover {
        background-color: #bebebe;
      }
    }
  }