@import '../../../variables';

div#active__bill {
  background-color: rgba(241, 241, 241, 0.71);
}

div.bill__items {
  text-align: left;

  .card-text {
    width: 100%;
    margin-top: 25px;
    height: 50px;
    display: flex;

    .bill__name__price {
      width: 100%;

      #bill__name {
        margin-left: 10px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: bold;
        float: left;
        color: $primary-text-color;
      }

      #bill__balance {
        float: right;
      }
    }
  }

  .split__by {
    span#responsible {
      margin-left: 32px;
      font-weight: bold;
      font-family: $primary-font;
      color: $tertiary-text-color;
    }
  }

  .card-footer {
    width: 100%;
    margin-left: 25px;
    background-color: $card-color;
    padding: 0;
  }
}

#bill__balance {
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: $primary-price-color;
}