@import '../../variables';

.billSnap-SideBar {
  transition: 0.3s;
  position: fixed;
  height: 100vh;
  background-color: $secondary-color;
  width: 302px;
  margin-left: 0;
  left: 0;
  top: 0;
  border-radius: 0 15px 15px 0;

}
.sideLogo.navbar-brand {
  display: block;
  margin-bottom: 50px;
}
.billSnap-SideBar.sideLogo {
  color: $primary-text-color;
}
//note:
//make border color transparent
//make css background to match round
.nav-link {
  padding: 15px 8px 15px 16px;
  text-decoration: none;
  font-size: 30px;
  color: $primary-text-color !important;
  &:hover {
    background-color: rgb(106, 252, 192);
    border-color: transparent;
  }
  &.active {
    color: $secondary-color !important;
  }
}