.billSnap-SideBar {
  transition: 0.3s;
  position: fixed;
  height: 100vh;
  background-color: #47E5B6;
  width: 302px;
  margin-left: 0;
  left: 0;
  top: 0;
  border-radius: 0 15px 15px 0;

}
.billSnap-Logo {
  display: block;
  color: #1d76db;
}

.billSnap-SideBar a {
  padding: 15px 8px 15px 16px;
  text-decoration: none;
  font-size: 30px;
  color: black;
  //display: block;
}

.billSnap-SideBar a:hover {
  color: #242b2a;

}