$primary-color: #007bff;
$secondary-color: #47e5b6;
$tertiary-color: rgba(49, 226, 173, 0.67);

$primary-price-color: #17c671;
$secondary-price-color: #33cc82;

$background-color: #e3e3e3;
$card-focus-color: rgba(241, 241, 241, 0.71);
$card-color: #ffffff;
$card-shadow: 0 7.5px 60px rgba(90, 97, 105, 0.25);

$primary-text-color: black;
$secondary-text-color: rgba(0, 0, 0, 0.71);
$tertiary-text-color: rgba(0, 0, 0, 0.4);
$border-color: rgba(0, 0, 0, 0.45);

$primary-font: Sarabun, sans-serif;
$light-gray-background: #f1f1f1;
