@import "../../variables";

button.startBill__button.btn.btn-primary {
  font-family: $primary-font;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  background: #007BFF;
  padding: 15px;
}

button.startBill__button.btn.btn-primary:hover {
  background: #1586FF;
}
