div.form-inputs{
    // padding-top: 1%;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

div.register__form .form-control{
    font-size: 20px;
    margin-top: 35px;
    color: black;
    background-color: white; 
}

span#input_error{
    color: red;
}

h6 a.login-link{
    color:rgba(165, 199, 245, 0.801);
}